<section class="flex flex-col items-center justify-center h-screen text-center">
    <h1 class="text-5xl md:text-7xl font-bold animate-float">
        Hi, I'm <span class="text-cyan-400">Ulises</span>
    </h1>
    <p class="mt-4 text-xl md:text-2xl">Frontend Developer | Web Designer</p>
    <a
        href="/aboutme"
        class="flex flex-row items-center gap-1 mt-8 px-6 py-3 bg-cyan-600 rounded-full text-white hover:bg-cyan-800 transition"
    >
        <span>Start</span>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="24"
            height="24"
            stroke-width="2"
        >
            <path d="M5 12l14 0"></path>
            <path d="M13 18l6 -6"></path>
            <path d="M13 6l6 6"></path>
        </svg>
    </a>
</section>
